pkgbase = cyfers-bin
	pkgdesc = Cyfers desktop client for Somtoday (prebuilt binary)
	pkgver = 2.1.1
	pkgrel = 1
	url = https://github.com/Samhij/somtoday-login
	arch = x86_64
	license = LicenseRef-Unknown
	options = !strip
	options = !debug
	depends = alsa-lib
	depends = at-spi2-core
	depends = gtk3
	depends = libnotify
	depends = libsecret
	depends = libxss
	depends = libxtst
	depends = nss
	depends = util-linux-libs
	depends = xdg-utils
	optdepends = libappindicator-gtk3: tray icon support
	provides = cyfers
	conflicts = cyfers
	source = Cyfers-2.1.1.AppImage::https://github.com/Samhij/somtoday-login/releases/download/v2.1.1/Cyfers-2.1.1.AppImage
	source = cyfers.desktop
	source = cyfers.sh
	sha256sums = cc185260cec53d8860e3ee691a590cdae1c033fabcca3d04e280fbd0f66baf1b
	sha256sums = e254f700d4e058e3c166e205676879a4e35edfcb038de5138eca722fc142f501
	sha256sums = 4da73f35038328c872ce8365a453e43b2e3343bbf395b0bc4d3d87edd27d7601

pkgname = cyfers-bin
